.hero {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        width: 100vw;
        height: 3px;
        background-color: #4D4D4D;
    }
}

.hero__mane {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.hero__icon {
    margin-top: 79px;
}

.hero__title {
    font-family: Recursive;
    font-size: 71px;
    font-style: italic;
    font-weight: 400;
    line-height: 85.2px;
    color:#FF7575;
}

.hero__subtitle {
    font-family: Poppins;
    font-size: 29px;
    font-weight: 400;
    line-height: 43.5px;
}